.swiper-detail {
	.detail-image {
		border-radius: 10px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.swiper-pagination {
		position: absolute;
		bottom: -5px !important;
		z-index: 100;
		span {
			width: 6px;
			height: 6px;
			// background: ;
			border-radius: 50%;
			margin: 0 5px !important;
		}
		.swiper-pagination-bullet-active {
			background: #1c1c1c;
		}
	}
}
